<a href="https://colab.research.google.com/github/verma-satyam/ML-Codiing-Ninjas/blob/main/3.%20MultiVariable%20Regression%20and%20Gradient%20Descent/2_One_Variable_Gradient_Descent_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing dataset

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('data.csv',names=['X','Y'])
data

            X          Y
0   32.502345  31.707006
1   53.426804  68.777596
2   61.530358  62.562382
3   47.475640  71.546632
4   59.813208  87.230925
..        ...        ...
95  50.030174  81.536991
96  49.239765  72.111832
97  50.039576  85.232007
98  48.149859  66.224958
99  25.128485  53.454394

[100 rows x 2 columns]

## Gradient Descent Scratch

In [15]:
def step_gradient(data, lr, m, c):
  m_slope = ((-2)*(data.Y - m*data.X - c)*data.X).mean()
  c_slope = ((-2)*(data.Y - m*data.X - c)).mean()
  new_m = m - lr*m_slope
  new_c = c - lr*c_slope
  return new_m,new_c

def gd(data, lr, num_it):
  m = 0
  c = 0
  for i in range(num_it):
    m, c = step_gradient(data,lr,m,c)
    print(i," Cost:",cost(data,m,c))
  return m,c

def cost(data,m,c):
  return ((data.Y - m*data.X - c)**2).mean()

def run():
  lr = 0.0001
  num_it = 100
  m,c = gd(data,lr,num_it)
  print(m, c)

In [23]:
run()

0  Cost: 1484.5865574086486
1  Cost: 457.85425757376686
2  Cost: 199.50998572553868
3  Cost: 134.50591058200527
4  Cost: 118.14969342239947
5  Cost: 114.03414906038147
6  Cost: 112.99857731713655
7  Cost: 112.73798187568467
8  Cost: 112.67238435909097
9  Cost: 112.65585181499742
10  Cost: 112.65166489759581
11  Cost: 112.65058436150107
12  Cost: 112.65028544701498
13  Cost: 112.65018320293966
14  Cost: 112.65013044507194
15  Cost: 112.65009013922884
16  Cost: 112.65005296694626
17  Cost: 112.65001658353181
18  Cost: 112.64998039901866
19  Cost: 112.64994426496072
20  Cost: 112.6499081440062
21  Cost: 112.64987202675677
22  Cost: 112.64983591084756
23  Cost: 112.64979979568366
24  Cost: 112.64976368111527
25  Cost: 112.64972756710466
26  Cost: 112.64969145364233
27  Cost: 112.64965534072607
28  Cost: 112.64961922835508
29  Cost: 112.6495831165293
30  Cost: 112.64954700524876
31  Cost: 112.64951089451323
32  Cost: 112.64947478432273
33  Cost: 112.64943867467746
34  Cost: 112.64940256557723
35  Cost: 112.64936645702217
36  Cost: 112.64933034901209
37  Cost: 112.64929424154705
38  Cost: 112.6492581346271
39  Cost: 112.64922202825224
40  Cost: 112.64918592242233
41  Cost: 112.64914981713751
42  Cost: 112.64911371239774
43  Cost: 112.64907760820296
44  Cost: 112.64904150455318
45  Cost: 112.64900540144839
46  Cost: 112.64896929888866
47  Cost: 112.64893319687388
48  Cost: 112.64889709540407
49  Cost: 112.64886099447921
50  Cost: 112.64882489409928
51  Cost: 112.64878879426429
52  Cost: 112.64875269497426
53  Cost: 112.64871659622935
54  Cost: 112.64868049802915
55  Cost: 112.64864440037393
56  Cost: 112.64860830326371
57  Cost: 112.64857220669819
58  Cost: 112.64853611067774
59  Cost: 112.64850001520205
60  Cost: 112.6484639202713
61  Cost: 112.64842782588543
62  Cost: 112.6483917320444
63  Cost: 112.64835563874827
64  Cost: 112.64831954599684
65  Cost: 112.64828345379037
66  Cost: 112.64824736212879
67  Cost: 112.6482112710119
68  Cost: 112.64817518043985
69  Cost: 112.6481390904126
70  Cost: 112.64810300093019
71  Cost: 112.64806691199254
72  Cost: 112.64803082359971
73  Cost: 112.6479947357516
74  Cost: 112.64795864844822
75  Cost: 112.64792256168963
76  Cost: 112.64788647547573
77  Cost: 112.64785038980659
78  Cost: 112.64781430468226
79  Cost: 112.64777822010261
80  Cost: 112.64774213606762
81  Cost: 112.64770605257745
82  Cost: 112.64766996963188
83  Cost: 112.64763388723095
84  Cost: 112.6475978053748
85  Cost: 112.64756172406331
86  Cost: 112.64752564329649
87  Cost: 112.64748956307434
88  Cost: 112.64745348339673
89  Cost: 112.64741740426382
90  Cost: 112.64738132567555
91  Cost: 112.64734524763195
92  Cost: 112.64730917013287
93  Cost: 112.64727309317844
94  Cost: 112.6472370167686
95  Cost: 112.64720094090335
96  Cost: 112.64716486558267
97  Cost: 112.64712879080653
98  Cost: 112.64709271657505
99  Cost: 112.64705664288806
1.4788027175308358 0.03507497059234175