<a href="https://colab.research.google.com/github/verma-satyam/ML-Coding-Ninjas/blob/main/7.%20Random%20Forest/1_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Datasets

In [83]:
import pandas as pd
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
target = pd.read_csv('target.csv')
test['Survived'] = target['Survived']

In [58]:
# X_train = train[['Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']]

In [59]:
# Y_train = train[['Survived']]
# Y_test = sub[['Survived']]

## Preprocessing the Dataset

In [84]:
del train["Name"]
del train["PassengerId"]
del train["Ticket"]
del train["Cabin"]
del train["Fare"]
train

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0           0       3    male  22.0      1      0        S
1           1       1  female  38.0      1      0        C
2           1       3  female  26.0      0      0        S
3           1       1  female  35.0      1      0        S
4           0       3    male  35.0      0      0        S
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0        S
887         1       1  female  19.0      0      0        S
888         0       3  female   NaN      1      2        S
889         1       1    male  26.0      0      0        C
890         0       3    male  32.0      0      0        Q

[891 rows x 7 columns]

In [85]:
del test["Name"]
del test["PassengerId"]
del test["Ticket"]
del test["Cabin"]
del test["Fare"]
test

     Pclass     Sex   Age  SibSp  Parch Embarked  Survived
0         3    male  34.5      0      0        Q         0
1         3  female  47.0      1      0        S         1
2         2    male  62.0      0      0        Q         0
3         3    male  27.0      0      0        S         0
4         3  female  22.0      1      1        S         1
..      ...     ...   ...    ...    ...      ...       ...
413       3    male   NaN      0      0        S         0
414       1  female  39.0      0      0        C         1
415       3    male  38.5      0      0        S         0
416       3    male   NaN      0      0        S         0
417       3    male   NaN      1      1        C         0

[418 rows x 7 columns]

In [86]:
print(train.isnull().sum())
print(train.shape)
train.fillna(train.median(),inplace=True)
train.dropna(inplace=True)
print(train.isnull().sum())
print(train.shape)

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Embarked      2
dtype: int64
(891, 7)
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64
(889, 7)

In [87]:
print(test.isnull().sum())
print(test.shape)
test.fillna(test.median(),inplace=True)
print(test.isnull().sum())
print(test.shape)

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Embarked     0
Survived     0
dtype: int64
(418, 7)
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
Survived    0
dtype: int64
(418, 7)

In [88]:
def getNumber(str):
    if str=="male":
        return 1
    else:
        return 2

In [90]:
train['gender']=train["Sex"].apply(getNumber)
del train["Sex"]
train.head()

   Survived  Pclass   Age  SibSp  Parch Embarked  gender
0         0       3  22.0      1      0        S       1
1         1       1  38.0      1      0        C       2
2         1       3  26.0      0      0        S       2
3         1       1  35.0      1      0        S       2
4         0       3  35.0      0      0        S       1

In [91]:
test['gender']=test["Sex"].apply(getNumber)
del test["Sex"]
test.head()

   Pclass   Age  SibSp  Parch Embarked  Survived  gender
0       3  34.5      0      0        Q         0       1
1       3  47.0      1      0        S         1       2
2       2  62.0      0      0        Q         0       1
3       3  27.0      0      0        S         0       1
4       3  22.0      1      1        S         1       2

In [92]:
def getNumberEmbarked(str):
    if str=='C':
        return 1
    elif str=='Q':
        return 2
    else:
        return 3

In [93]:
train['Embarked']=train["Embarked"].apply(getNumberEmbarked)
print(train)

     Survived  Pclass   Age  SibSp  Parch  Embarked  gender
0           0       3  22.0      1      0         3       1
1           1       1  38.0      1      0         1       2
2           1       3  26.0      0      0         3       2
3           1       1  35.0      1      0         3       2
4           0       3  35.0      0      0         3       1
..        ...     ...   ...    ...    ...       ...     ...
886         0       2  27.0      0      0         3       1
887         1       1  19.0      0      0         3       2
888         0       3  28.0      1      2         3       2
889         1       1  26.0      0      0         1       1
890         0       3  32.0      0      0         2       1

[889 rows x 7 columns]

In [94]:
test['Embarked']=test["Embarked"].apply(getNumberEmbarked)
print(test)

     Pclass   Age  SibSp  Parch  Embarked  Survived  gender
0         3  34.5      0      0         2         0       1
1         3  47.0      1      0         3         1       2
2         2  62.0      0      0         2         0       1
3         3  27.0      0      0         3         0       1
4         3  22.0      1      1         3         1       2
..      ...   ...    ...    ...       ...       ...     ...
413       3  27.0      0      0         3         0       1
414       1  39.0      0      0         1         1       2
415       3  38.5      0      0         3         0       1
416       3  27.0      0      0         3         0       1
417       3  27.0      1      1         1         0       1

[418 rows x 7 columns]

In [95]:
X_train = train[['Pclass','Age','SibSp','Parch','Embarked','gender']]
Y_train = train[['Survived']]

In [96]:
X_test = test[['Pclass','Age','SibSp','Parch','Embarked','gender']]
Y_test = test[['Survived']]

## Decision Tree Classifier

In [97]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train,Y_train)
Y_pred = clf.predict(X_test)
clf.score(X_train,Y_train), clf.score(X_test,Y_test)

(0.9358830146231721, 0.6985645933014354)

## Random Forest Classifier

In [99]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=1)
rfc.fit(X_train,Y_train)
Y_pred_1 = rfc.predict(X_test)
rfc.score(X_train,Y_train),rfc.score(X_test,Y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

(0.9347581552305961, 0.7416267942583732)