<a href="https://colab.research.google.com/github/verma-satyam/ML-Codiing-Ninjas/blob/main/Linear%20Regression/2_One_Variable_Linear_Regression_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apna Khud ka Linear Regression

In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('data.csv',names=['X','Y'])
data

            X          Y
0   32.502345  31.707006
1   53.426804  68.777596
2   61.530358  62.562382
3   47.475640  71.546632
4   59.813208  87.230925
..        ...        ...
95  50.030174  81.536991
96  49.239765  72.111832
97  50.039576  85.232007
98  48.149859  66.224958
99  25.128485  53.454394

[100 rows x 2 columns]

In [13]:
X = data.X
Y = data.Y

In [14]:
X.shape

(100,)

In [15]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y,test_size=0.3)

In [16]:
def fit(x_train,y_train):
  m = ((x_train*y_train).mean() - (x_train.mean() * y_train.mean()))/((x_train**2).mean() - (x_train.mean()**2))
  c = y_train.mean() - m * x_train.mean()
  return m,c

In [17]:
def predict(x,m,c):
  return m*x+c

def score(y_truth, y_pred):
  u = ((y_truth - y_pred)**2).sum()
  v = ((y_truth - y_truth.mean())**2).sum()
  return 1 - u/v

In [23]:
def cost(x,y,m,c):
   return ((y - m*x - c)**2).mean()

In [18]:
m,c = fit(X_train,Y_train)
# test data
Y_pred = predict(X_test,m,c)
score(Y_test,Y_pred)

0.5719933730582147

In [21]:
# train data
Y_train_pred = predict(X_train,m,c)
score(Y_train,Y_train_pred)

0.5860058786688731

In [22]:
print(m,c)

1.2886224955174315 8.599690406606072

In [24]:
print('Cost on training data: ',cost(X_train,Y_train,m,c))

Cost on training data:  106.91605164148775

# Checking from sklearn

In [25]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg1.fit(X_train.values.reshape(-1,1),Y_train.values.reshape(-1,1))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
alg1.coef_

array([[1.2886225]])

In [27]:
alg1.intercept_

array([8.59969041])

In [28]:
alg1.score(X_test.values.reshape(-1,1),Y_test.values.reshape(-1,1))

0.5719933730582158

In [29]:
alg1.score(X_train.values.reshape(-1,1),Y_train.values.reshape(-1,1))

0.5860058786688731